@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <button id="ConnectButton">Connect</button>
    <button id="DisconnectButton">Disconnect</button>
    <div id="testarea"></div>
    <div id="message"></div>
</div>
